* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: urbanist, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

:root {
  --bg-color: #f4f3ff;
  --btn-color: #646cff;
  --dark-color: #242424;
  --helper-color: #99b9ff;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  /* min-width: 32rem; */
  min-height: 100vh;
  background-color: #f4f4f4;
}

p,
li,
label,
input,
textarea {
  font-size: 1.9rem;
  line-height: 1.56;
  letter-spacing: 0.1rem;
  word-spacing: 0.06rem;
}

h1 {
  font-size: 5.4rem;
  line-height: 1.1;
  font-weight: bold;
}

a {
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--btn-color);
  text-decoration: inherit;
}

.grid {
  display: grid;
  gap: 6.4rem;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

button {
  text-transform: capitalize;
  padding: 1rem 2rem;
  font-size: 1.7rem;
  font-weight: 500;
  background-color: var(--btn-color);
  border-radius: 0.8rem;
  border: 0.1rem solid transparent;
  cursor: pointer;
  letter-spacing: 0.1rem;
  transition: 0.3s;
}

button:hover {
  box-shadow: 0 0 0 0.2rem var(--dark-color);
}

a:hover,
a.active {
  color: red;
}

.logNavbar {
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 2.3rem;
  background-color: #81b1ce;
  color: white;
  font-size: 26px;
  text-align: center;
  padding: 1rem;
  border: transparent;
}





