.main {
   flex: 1;                        
  display: flex;
  justify-content: center;        
  align-items: center;           
  background:#f4f4f4 ;
  padding-top: 30px;
}

.LogForm {
  margin-top: 90px; 
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}


.LogForm .mainHeading {
  font-size: 24px;
  margin-bottom: 20px;
}

.LogForm label {
  display: block;
  text-align: left;
  margin-bottom: 6px;
  font-weight: bold;
}

.LogForm input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.LogForm input:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0,123,255,0.4);
}


.LogForm button {
  width: 100%;
  padding: 12px;
  background: #007bff;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  margin: 2px;
}

.LogForm button:hover {
  background: #0056b3;
}

.LogForm h3 {
  margin: 10px 0;
  font-size: 14px;
}

.LogForm h3 a {
  color: #007bff;
  text-decoration: none;
}

.LogForm h3 a:hover {
  text-decoration: underline;
}